/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

#popup {
height: 20%;
width: 100%;
position: absolute;
top: 30%;
left: 50%;
margin-left: -50%;
}

.footer {
background-color: #FFFFFF;
bottom: 0;
height: 75px;            /* Footer height */
}	